/*
1. Posicionamiento
2. Modelo de caja (Box model)
3. Tipografía
4. Visuales
5. Otros 
*/
:root {
  /*Colores*/
  --primary: #232c55;
  --secondary: #fff2f1;
  --keppel: #5fb49c;
  --copper-penny: #b2675e;
  --sizzling-red: #ef5d60;
}
* {
  padding: 0;
}
html {
  font-family: "Orbitron", sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
